html, body, #map {
  margin: 0;
  height: 100%;
  width: 100%;
}
#lbutton {
  position: fixed;
  top: 20px;
  right: 200px;
	width: 90px;
}
#ltree {
  position: fixed;
  top: 60px;
  right: 119px;
}
#ibutton {
  position: fixed;
  top: 20px;
  right: 100px;
	width: 90px;
}
#itree {
  position: fixed;
  top: 60px;
  right: 26px;
  width: 130px;
}
#clickme {
  position: fixed;
  top: 20px;
  right: 300px;
}
